
#highscore{
    text-align: center;
}

.col-xs-12{
    width: 100%;
}

.col-xs-12{
    width: 100%;
}

#scorehead{
    text-align: center;
    font-size: 32px;
}

#scorehead-row{
    text-align: center;
}

#scorelist-row{
text-align: center;
}

#scorelist{
    list-style-type: none;
    text-align: center;
    font-size: 18px;
}

ul{
    background: #dddddd;
    padding: 0;
}

#button-divider{
    margin-top: 40px;
}
