
.container{
    text-align: center;
}

.row{
    text-align: center;
}

#answer-1{
    margin: 15px;
    padding: 20px;
}

#answer-2{
    margin: 15px;
    padding: 20px;
}

#answer-3{
    margin: 15px;
    padding: 20px;
}

#answer-4{
    margin: 15px;
    padding: 20px;
}

